@import "~bootstrap/scss/bootstrap";

body {
	background-color: #222;
	margin: 0;
	overflow: hidden;
	cursor: pointer;
}

.container-fluid {
  box-sizing: content-box;
  padding: 0;
}

.navbar-brand span {
  text-decoration: underline;
}
